{% extends "base.html" %}

{% block content %}

<h1>User Balance</h1>

<form action="" method="post">
  {{ form.hidden_tag() }}
    <p>
    Current balance<br/>
    {{ current_balance }}<br/>
  </p>

  <p>
    Amount to deposit<br/>
    {{ form.deposit(size=32) }}<br/>
    {% for error in form.deposit.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    Amount to withdraw<br/>
    {{ form.withdraw(size=32) }}<br/>
    {% for error in form.withdraw.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
