{% extends "base.html" %}

{% block content %}

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Edit Item Details</th>
      <th scope="col">Remove Item</th>
    </tr>
  </thead>
  <tbody>
    {% for item in inventory%}
      <tr>
        <td> {{item.pid}} </td>
        <td> {{item.price}} </td>
        <td> {{item.quantity}} </td>
        <td><div><p><a href="{{url_for('inventory.editInventory', pid=item.pid, sid=item.sid)}}" type="button" class="btn btn-dark">Edit</a></p></div></td>
        <td><a id="remove-button" href="{{url_for('inventory.removeInventory', sid=item.sid, pid=item.pid)}}" type="button" class="btn btn-dark">Remove Item</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <a id="addinventory-button" href="{{ url_for('inventory.addNewProduct', sid=0) }}" type="button" class="btn btn-dark">Add New Product</a>
</div>


{% endblock %}
