{% extends "base.html" %}

{% block content %}

<h2>Your Inventory List:</h2>

<br>
<h5>Search by Product Name:</h5>
<input type="text" id="prodname" onkeyup="searchLookup()" placeholder="Search product name..." title="Enter Product Name">
<br><br>
<h5>Search by Category:</h5>
<select id="category" onchange="searchLookup()" class='form-control' placeholder="Search category..." title="Enter Category">
  <option>All</option>
  <option>Books</option>
  <option>Clothing</option>
  <option>Electronics</option>
  <option>Food</option>
  <option>Home</option>
  <option>Media</option>
  <option>Toys</option>
  <option>Sports</option>
</select>
<br><br>

<p>Click on column name to sort</p>
<table class='table table-hover table-bordered container', id="inventory-table">
  <thead class="thead-dark">
    <tr class="header">
      <th onclick="sortColumn(0)" scope="col">Product ID</th>
      <th onclick="sortColumn(1)" scope="col">Name</th>
      <th onclick="sortColumn(2)" scope="col">Category</th>
      <th onclick="sortColumn(3)" scope="col">Price</th>
      <th onclick="sortColumn(4)" scope="col">Quantity</th>
      <th onclick="sortColumn(5)" scope="col">Edit Item Details</th>
      <th onclick="sortColumn(6)" scope="col">Remove Item</th>
    </tr>
  </thead>
  {% for item in inventory%}
    <tr>
      <td> {{item.pid}} </td>
      <td><a href="{{ url_for('product.product', pid=item.pid) }}"> {{item.name}} </a></td>
      <td> {{item.category}} </td>
      <td> {{item.price}} </td>
      <td> {{item.quantity}} </td>
      <td><div><p><a href="{{url_for('inventory.editInventory', pid=item.pid, sid=item.sid)}}" type="button" class="btn btn-dark">Edit</a></p></div></td>
      <td><a id="remove-button" href="{{url_for('inventory.removeInventory', sid=item.sid, pid=item.pid)}}" type="button" class="btn btn-dark">Remove Item</a></td>
    </tr>
  {% endfor %}
</table>

<div>
  <a id="add-unlistedinventory-button" href="{{ url_for('inventory.addUnlistedProduct', sid=0) }}" type="button" class="btn btn-dark">Add Unlisted Product</a>
  <a id="add-listedinventory-button" href="{{ url_for('inventory.addListedProduct', sid=0) }}" type="button" class="btn btn-dark">Add Listed Product</a>
</div>


<script>
function searchLookup() {
    var input, table, tr, name, filter, category, filter2, i, txtValue;
    searchInput = document.getElementById("prodname");
    filter = searchInput.value.toUpperCase();
    input = document.getElementById("category");
    filter2 = input.value.toUpperCase();
    table = document.getElementById("inventory-table");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      name = tr[i].getElementsByTagName("td")[1];
      category = tr[i].getElementsByTagName("td")[2];
      if (name) {
        txtValue = name.textContent || name.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1 && category.innerHTML.toUpperCase().indexOf(filter2) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
}
  function sortColumn(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("inventory-table");
    switching = true;
    dir = "asc";
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[n];
        y = rows[i + 1].getElementsByTagName("td")[n];
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++; 
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>

{% endblock %}
