{% extends "base.html" %}

{% block content %}

<div>
    <h2>Mark Fulfilled</h2>
    <a href="{{ url_for('order.orderSeller', sid=sid) }}">Back to inventory</a>
</div>

<form action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.confirm.label }}<br/>
    {{ form.confirm() }}<br/>
    {% for error in form.confirm.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  
</form>

{% endblock %}
