{% extends "base.html" %}

{% block content %}

<h2>Your Orders:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Time Placed</th>
      <th scope="col">Fulfilled?</th>
      <th scope="col">Time Fulfilled</th>
      <th scope="col">Address</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders%}
      <tr>
        <td> {{order.id}} </td>
        <td> {{order.pid}} </td>
        <td> {{order.sid}} </td>
        <td> {{order.product_name}} </td>
        <td> {{order.price}} </td>
        <td> {{order.quantity}} </td>
        <td> {{order.placed_datetime}} </td>
        <td> {{order.completed_status}} </td>
        <td> {{order.completion_datetime}} </td>
        <td> {{order.address}} </td>
        <td><a id="fulfill-button" href="{{url_for('order.itemFulfilled', oid=order.id, pid=order.pid, sid=order.sid)}}" type="button" class="btn btn-light btn-block">Item Fulfilled</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
