{% extends "base.html" %}

{% block content %}

<h2>Detailed Order Details for Seller:</h2>
<br>
<h5>Search by Order ID:</h5>
<input type="text" id="orderid" onkeyup="searchLookup()" placeholder="Search order id.." title="Type in Order ID">
<br><br>
<h5>Search by Fulfilment Status:</h5>
<select id="fulfillstatus" onchange="searchLookup()" class='form-control' placeholder="Search fulfilment status..." title="Enter Fulfilment Status">
  <option value="" selected>All</option>
  <option>True</option>
  <option>False</option>
</select>
<br>
<div>
  <a id="search-orders-button" href="{{ url_for('order.orderSearch', sid=current_user.id) }}" type="button" class="btn btn-dark">Advanced Search</a>
  <a id="show-all-button" href="{{ url_for('order.orderSeller', sid=current_user.id) }}" type="button" class="btn btn-dark">Show All</a>
</div>
<br>

<p>Click on column name to sort</p>
<table class='table table-hover table-bordered container', id="seller-order-table">
  <thead class="thead-dark">
    <tr class = "header">
      <th onclick="sortColumn(0)" scope="col">Order ID</th>
      <th onclick="sortColumn(1)" scope="col">Buyer ID</th>
      <th onclick="sortColumn(2)" scope="col">Number of Items</th>
      <th onclick="sortColumn(3)" scope="col">Time Placed</th>
      <th onclick="sortColumn(4)" scope="col">Address</th>
      <th onclick="sortColumn(5)" scope="col">Is Order Fulfilled? (Your Items Only)</th>
      <th onclick="sortColumn(6)" scope="col">More Details</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders%}
      <tr>
        <td> {{order.id}} </td>
        <td> {{order.bid}} </td>
        <td> {{order.count}} </td>
        <td> {{order.placed_datetime}} </td>
        <td> {{order.address}} </td>
        <td> {{order.status}} </td>
        <td><a id="details-button" href="{{url_for('order.orderSellerDetails', oid=order.id, sid=order.sid)}}" type="button" class="btn btn-light btn-block">Item Fulfilled</a></td>
      </tr>
    {% endfor %}
  </tbody>

</table>
<script>
function searchLookup() {
    var input, table, tr, name, filter, category, filter2, i, txtValue;
    searchInput = document.getElementById("orderid");
    filter = searchInput.value.toUpperCase();
    input = document.getElementById("fulfillstatus");
    filter2 = input.value.toUpperCase();
    table = document.getElementById("seller-order-table");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      name = tr[i].getElementsByTagName("td")[0];
      category = tr[i].getElementsByTagName("td")[5];
      if (name) {
        txtValue = name.textContent || name.innerText;
        console.log(category.innerHTML)
        if (txtValue.toUpperCase().indexOf(filter) > -1 && category.innerHTML.toUpperCase().indexOf(filter2) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
}

function sortColumn(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("seller-order-table");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("td")[n];
      y = rows[i + 1].getElementsByTagName("td")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++; 
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

{% endblock %}
