{% extends "base.html" %}

{% block content %}

<h2>Your Orders:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Time Placed</th>
      <th scope="col">Fulfilled?</th>
      <th scope="col">Time Fulfilled</th>
      <th scope="col">Address</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in orders%}
      <tr>
        <td> {{item.id}} </td>
        <td> {{item.pid}} </td>
        <td> {{item.sid}} </td>
        <td> {{item.product_name}} </td>
        <td> {{item.price}} </td>
        <td> {{item.quantity}} </td>
        <td> {{item.placed_datetime}} </td>
        <td> {{item.completed_status}} </td>
        <td> {{item.completion_datetime}} </td>
        <td> {{item.address}} </td>
        <td><a id="fulfill-button" href="{{url_for('order.markFulfilled', id=item.id, pid=item.pid)}}" type="button" class="btn btn-light btn-block">Item Fulfilled</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
