<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{product.name}}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="../static/css/product.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  </body>
        <h1 style="color:rgb(0, 0, 0)">Mini Amazon</h1>
        <div style="color: rgb(0, 0, 0); text-align: right; margin-bottom: 25px">
            {% if current_user.is_authenticated %}
            <b>Hello {{current_user.firstname}}! </b>
                <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Home Page</a>
                <a href="{{ url_for('cart.cart') }}" type="button" class="btn btn-light">Cart</a>
                <a href="{{ url_for('users.balance') }}" type="button" class="btn btn-light">Balance</a>
                <a href="{{ url_for('users.purchase_history') }}" type="button" class="btn btn-light">Purchase History</a>
                <a href="{{ url_for('seller.seller', sid=current_user.id) }}" type="button" class="btn btn-light">Seller's Page</a>
                <a href="{{ url_for('users.user_public_view', id=current_user.id) }}" type="button" class="btn btn-light">Public View</a>
                <a href="{{ url_for('users.profile') }}" type="button" class="btn btn-light">Profile</a>
                <a href="{{ url_for('users.password') }}" type="button" class="btn btn-light">Change Password</a>
                <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
            {% else %}
            <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
            {% endif %}
        </div>

        <br><br>    
    <main class="container">
    
        <!-- Left Column / Product Image -->
        <div class="left-column">
        <img data-image="img" class = "active" src={{product.image_file}} onerror="this.src='../static/images/{{product.image_file}}'" alt="No image available">
        </div>
    
    
        <!-- Right Column -->
        <div class="right-column">
    
            <!-- Product Description -->
            <div class="product-description">
                <span>{{product.category}}</span>
                <h1>{{product.name}}</h1>
                <p>Product ID: {{product.id}}</p>
                <p>{{product.description}}</p>
            </div>
        
        
            <!-- Product Pricing -->
            <div class="product-price">
                <span>Best Price: ${{display_price}}</span>
            </div>

            <!-- Stock Status -->
            <div class="stock-status">
                <p>{{stock}}</p>
            </div>

            {% if stock == "In Stock" %}
            <!-- Sellers -->
            <table class='table table-hover table-bordered container'>
                
                <tr class = "header">
                    <th scope="col">Seller</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                  </tr>
                  {% for listing in inventory%}
                  <tr>
                    <td scope="row">{{listing.sellerName}}</td>
                    <td>${{listing.price}}</td>
                    <td>{{listing.quantity}}</td>
                    {% if current_user.is_authenticated %}
                    <td><form action="{{ url_for('product.addToCart', pid = product.id, sid = listing.sid) }}" method="GET">
                        <input type="number" id="quantity" name="quantity" required
                            min="1" max="{{listing.quantity}}">
                        <input type="submit" value="Add to Cart">
                    </form></td>
                    {% else %}
                    <td><a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
            </table>
            {% endif %}

            {% if current_user.is_authenticated %}
                    <td><form action="{{ url_for('users.write_review', pid = product.id) }}" method="GET">
                        <input type="submit" value="Add/edit your review">
                    </form></td>
            {% endif %}


        
            
            <div>
                {% if current_user.is_authenticated %}
                <a id="add-listedinventory-button" href="{{ url_for('inventory.addListedProduct', sid=current_user.id) }}" type="button" class="btn btn-dark">Sell This Product</a>
                {% endif %}
            </div>

        </div>
    </main>

 </body>

 <ol>
    {% for review in reviews %}
    <li>{% for star in range(5) %}
            {% if star+1 <= review.rating %}
                &#9733;
            {% endif %}
            {% if star+1 > review.rating %}
                &#9734;
            {% endif %}
        {% endfor %}
        </br>

        
        {% if review.reviewcnt > 14 %} 
            <b><u>{{review.title}}</u></b> (review  by:  {{review.display_name}} &#x1F3C5;)</br>
        {% endif %}
        {% if review.reviewcnt <= 14 %} 
        <b><u>{{review.title}}</u></b> (review  by:  {{review.display_name}})</br>
        {% endif %}

        {{review.body}} </br>
        <br/></br>
        {{review.cnt}} people found this review helpful.  </br>
        <br/></br>

                {% if current_user.is_authenticated %}
                        <i>Did you find this review helpful?</i> </br>
                <a href="{{ url_for('users.upvote_review', pid = product.id, uid = review.uid) }}" type="button" class="btn btn-light">Upvote</a>
                {% endif %}
        
        <br/></br>
    {% endfor %}
    </ol>

</html>