<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{product.name}}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="../static/css/product.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  </body>
    <main class="container">
    
        <!-- Left Column / Product Image -->
        <div class="left-column">
        <img data-image="img" class = "active" src={{product.image_file}} alt="No image available">
        </div>
    
    
        <!-- Right Column -->
        <div class="right-column">
    
            <!-- Product Description -->
            <div class="product-description">
                <span>{{product.category}}</span>
                <h1>{{product.name}}</h1>
                <p>{{product.description}}</p>
            </div>
        
        
            <!-- Product Pricing -->
            <div class="product-price">
                <span>Best Price: ${{display_price}}</span>
            </div>

            <!-- Stock Status -->
            <div class="stock-status">
                <p>{{stock}}</p>
            </div>

            {% if stock == "In Stock" %}
            <!-- Sellers -->
            <table class='table table-hover table-bordered container'>
                
                <tr class = "header">
                    <th scope="col">Seller</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                  </tr>
                  {% for listing in inventory%}
                  <tr>
                    <td scope="row">{{listing.sellerName}}</td>
                    <td>${{listing.price}}</td>
                    <td>{{listing.quantity}}</td>
                    {% if current_user.is_authenticated %}
                    <td><form action="{{ url_for('product.addToCart', pid = product.id, sid = listing.sid) }}" method="GET">
                        <input type="number" id="quantity" name="quantity" required
                            min="1" max="{{listing.quantity}}">
                        <input type="submit" value="Add to Cart">
                    </form></td>
                    {% else %}
                    <td><a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
            </table>
            {% endif %}

            {% if current_user.is_authenticated %}
                    <td><form action="{{ url_for('users.write_review', pid = product.id) }}" method="GET">
                        <input type="submit" value="Add/edit your review">
                    </form></td>
            {% endif %}

            <table class='table table-hover table-bordered container'>
                
                <tr class = "header">
                    <th scope="col">Reviewer Name</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Title</th>
                    <th scope="col">Review</th>
                    <th scope="col"></th>
                  </tr>

            {% for review in reviews%}
            <tr>
                <td scope="row">{{review.display_name}}</td>
                <td scope="row">{{review.rating}}</td>
                <td>{{review.title}}</td>
                <td>{{review.body}}</td>
            </tr>
                {% endfor %}
            </table>

        </div>
    </main>

 </body>

</html>