{% extends "base.html" %}

{% block content %}

<br><br>


<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Fulfillment</th>
      <th scope="col">Purchase Time</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.quantity}}</td>
        <td>{{purchase.price}}</td>
        <td>{{purchase.completed_status}}</td>
        <td>{{purchase.time_purchased}}</td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
