{% extends "base.html" %}

{% block content %}

<h2>Reviews You Have Submitted:</h2>

    <table class='table table-hover table-bordered container'>
                    
        <tr class = "header">
            <th scope="col">Reviewer Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Title</th>
            <th scope="col">Review</th>
            <th scope="col"></th>
        </tr>

    {% for review in reviews%}
    <tr>
        <td scope="row">{{review.display_name}}</td>
        <td scope="row">{{review.rating}}</td>
        <td>{{review.title}}</td>
        <td>{{review.body}}</td>
        <td><form action="{{ url_for('users.write_review', pid = review.pid) }}" method="GET">
                <input type="submit" value="edit your review">
            </form></td>
    </tr>

    {% endfor %}
    </table>

{% endblock %}