{% extends "base.html" %}

{% block content %}

<h2>Seller's Analytics:</h2>
<br>
<h5>Most Popular Products:</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    {% for item in top_products%}
      <tr>
        <td> {{item.pid}} </td>
        <td> {{item.product_name}} </td>
        <td> {{item.count}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h5>Least Popular Products:</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for item in bottom_products%}
      <tr>
        <td> {{item.pid}} </td>
        <td> {{item.product_name}} </td>
        <td> {{item.count}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h5>Most Popular Categories:</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    {% for item in top_categories%}
      <tr>
        <td> {{item.category}} </td>
        <td> {{item.count}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h5>Least Popular Categories:</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    {% for item in bottom_categories%}
      <tr>
        <td> {{item.category}} </td>
        <td> {{item.count}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h5>Category Distribution:</h5>
<table class='table table-hover table-bordered container', id="all-categories">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    {% for item in all_categories%}
      <tr>
        <td> {{item.category}} </td>
        <td> {{item.count}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>
  <canvas id="myChart" width="1200" height="600"></canvas>
  <script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var barChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ all_categories_x | safe }},
        datasets: [
          {
            data: {{ all_categories_y | safe }},
            backgroundColor: "rgba(151,187,205,0.2)"
          }
        ]
      },
      options: {
        responsive: false,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true,
            title: {
                display: true,
                text: "Count"
            }
          },
          x: {
            title: {
                display: true,
                text: "Product Categories"
            }
          },
        },
        plugins: {
          legend: {
            display: false
          }
        }
      },

    });
  </script>
</body>

<h5>Inventory Summary Statistics:</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
        <th scope="col">Total Stock in Inventory</th>
        <th scope="col">Total Unique Products</th>
        <th scope="col">Average Price in Inventory</th>
    </tr>
  </thead>
  <tbody>
        <td> {{total_inventory}} </td>
        <td> {{unique_inventory}} </td>
        <td> {{avg_price_inventory}} </td>
  </tbody>
</table>

<h5>Seller Review Summary Statistics:</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
        <th scope="col">Your Average Ratings</th>
        <th scope="col">Number of Reviews Received</th>
    </tr>
  </thead>
  <tbody>
        <td> {{avg_seller_rating}} </td>
        <td> {{num_seller_reviews}} </td>
  </tbody>
</table>

<h5>Seller Ratings Breakdown:</h5>
<table class='table table-hover table-bordered container', id="all-categories">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rating</th>
      <th scope="col">Number of Reviews with this Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for rating in seller_ratings_breakdown%}
      <tr>
        <td> {{rating.rating}} </td>
        <td> {{rating.count}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h5>Product Review Summary Statistics:</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
        <th scope="col">Your Average Ratings</th>
        <th scope="col">Number of Reviews Received</th>
    </tr>
  </thead>
  <tbody>
        <td> {{overall_product_rating}} </td>
        <td> {{num_product_reviews}} </td>
  </tbody>
</table>

<h5>Product Ratings Breakdown:</h5>
<table class='table table-hover table-bordered container', id="all-categories">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Number of Reviews</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_ratings_breakdown%}
      <tr>
        <td> {{product.pid}} </td>
        <td> {{product.name}} </td>
        <td> {{product.count}} </td>
        <td> {{product.rating}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

<link rel="stylesheet" type="text/css" href="style.css">